name: Build APK V4
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.2'
        
    - name: Build APK
      run: gradle assembleDebug --stacktrace

    # INI YANG BIKIN ERROR KEMARIN (v3), SEKARANG SUDAH v4
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: wanzz-APK
        path: app/build/outputs/apk/debug/app-debug.apk